body {
	background-image: url(startPage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-family: lucida handwriting;
	text-align: center;
	padding-top: 8%;
	font-size: 20px;

}

h1 {
	padding-top: 1px;
	font-size: 80px;
}

div img{
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	position: relative;
}

#cap {
	position: fixed;
	top: 490px;
	left: 830px;
	text-align: center;
	font-size: 70px;
}

a {
    opacity: 1;
    color: black;
    transition: opacity 2s ease-in-out;
    transition: color 2s ease-in-out;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: saddlebrown;
  opacity: .3;
}

a:active {
    color: black;
}

.sumdiv
{	
	margin: auto;
	width: 60%;	
	border: 3px solid rgb(92, 89, 55);
    background-color: rgba(255, 253, 208, 0.5);
	text-align: left;
	padding: 15px;
	font-weight: bold;
    
	
	
	
}
